body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  margin: 0;
  padding: 16px;
}

nav {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: black;
}

.subtitulo {
  font-size: 16px;
  margin: 10px 0 16px;
  color: #444;
}

.conteudo > section {
  background: #e6e6e6;
  border-radius: 10px;
  margin-bottom: 12px;
  overflow: hidden;
}

.conteudo > section h2 {
  background: #d0d0d0;
  margin: 0;
  padding: 10px;
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

li {
  font-size: 14px;
  margin-bottom: 6px;
}

@media (width >= 768px) {
  body {
    padding: 0;
  }

  main {
    display: flex;
  }

  nav {
    display: block;
    width: 240px;
    background: #dcdcdc;
    padding: 20px;
    height: 100vh;
  }

  nav h2 {
    margin-top: 0;
    font-size: 20px;
  }

  nav ul {
    padding: 0;
  }

  nav li {
    margin: 15px 0;
    font-size: 16px;
  }

  .conteudo {
    flex: 1;
    padding: 30px;
  }

  header h1 {
    font-size: 28px;
  }

  .subtitulo {
    font-size: 18px;
  }

  .conteudo > section {
    max-width: 600px;
    margin-bottom: 20px;
  }
}

/* ===== LOGIN PAGE ===== */

.login-page {
    background-color: #f2f2f2;
}

/* CENTRALIZAÇÃO */
.login-page .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CAIXA DO LOGIN */
.login-page form {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* LOGO */
.login-page .logo {
    text-align: center;
}

.login-page .logo img {
    width: 130px;
    display: block;
    margin: 0 auto 15px;
}

/* TÍTULO */
.login-page h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

/* CAMPOS */
.login-page .campo {
    margin-bottom: 15px;
}

.login-page .campo label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.login-page .campo input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

/* BOTÃO */
.login-page button {
    width: 100%;
    padding: 10px;
    background-color: #d3d3d3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.login-page button:hover {
    background-color: #bfbfbf;
}

/* ERROS */
.login-page .erro {
    color: red;
    font-size: 12px;
    margin-top: 3px;
}

/* FOOTER */
.login-page footer {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
    text-align: center;
}

